@import '~antd/dist/antd.less';

.ant-layout-header {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 2px 8px #d1d2d3;
  z-index: 10;
  position: sticky;
  top: 0;
}

@media screen and (max-width: 600px) {
  .title {
    display: none;
  }
  .ant-layout-header {
    justify-content: center;
  }
}
